body {
    line-height: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E9FB;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 775px;
    min-height: 395px;
    background-color: white;
    box-shadow: 10px 5px 5px rgba(100, 100, 100, 0.2);
    border-radius: 16px;
    gap: 35px;
}

.title {
    width: 458px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

.message {
    width: 650px;
    height: fit-content;
    font-size: 1.4rem;
    text-align: center;
}